/*
Folha de estilo do site One page HTML5 e CSS3
*/

/*Importação google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");


/* CSS Reset*/
*{
    margin:0;
    border:0;
    padding:0;
  }

  body{ 
     font-family: "Open Sans", sans-serif;
     font-size:1em; /* tam  font padrao*/
}

    /*Layout*/
    .Container{
    margin:0 auto;
    }  

    /*Flexbox*/
    .Flex{
        display:flex;  /*Faz o container ficar flexivel*/
        justify-content: space-between;
    }
    .Flex2 {
        display: flex;
        align-items: center;
    }
    .Flex3 {
        display: flex;
        flex-direction: column;
    }

    .Botao{
        text-decoration: none;
        color:#fff;
        background-color: #c00000;
        font-size: 1.3em;
        font-weight: 700;
        padding: 10px 40px; /*10px para cima/baixo, 40px direita/esquerda*/
        border: 2px solid #fff;
        border-radius: 25px;
    }
    
    /*topo do site*/
    #topo{
        position: fixed;
        right: 10px;     /*10 a direita*/
        bottom: 10px;       /*10 abaixo e direita*/
    }


/*Smartphone Portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*Cabeçalho*/
header{
    height: 60px;
}

#logo img{
    width: 128px; /*Largura e altura*/
    height: 128px;
}
#check{
    display: none;
}
 
/*menu no cel*/
label{
    font-size: 3em; /*simbolo do unicode*/
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0 , 0.5);
}
/*Estilos para os itens do menu*/
nav ul{
    list-style: none;
    background-color:rgb(164, 15, 27);
    height: 100vh; /* define o tamanho total da tela*/
    position: fixed;
    top: 60px;
    right: -100%; /*esconde o menu*/
    width: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul{
    right: 0;
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid #211a1a;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/*Destaque banner*/
main{
    height: 75vh; /*75% da tela*/
    background:url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #fff; /* para todos os textos*/
    display: flex;  /*Tecnica para centralizar um conteúdo*/
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1{
    font-size: 2.5em;
}

main h2{
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}

/*Sobre*/
#sobre {
    padding: 50px 0px;  /*Cria espacamento*/
    background: url(img/background.png);
    background-size: cover;
    background-position: center;
}

#destaqueSobre {
    display: none;
}

#textoSobre {
    color: #fff;
    padding:0px 10px;
}

textoSobre h2 {
    margin-bottom: 20px;
}

.TopicosSobre {
    margin-top: 20px;
}

.TopicosSobre img {
    margin-right: 20px;
}

/*ONE PAGE*/
#onepage {
    padding: 50px 10px;
}

#onepage h2 {
    margin-bottom: 10px;
}

#onepage p {
    margin-bottom: 25px;
}

#video iframe {
    width: 340px;
    height: 191px;
    border: 0;
}


    
/*Smartphone Landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:576px){
   
    /*LAYOUT*/
    .Container{
        max-width:540px ;
    }
    /*Destaque banner*/
    main h1, main h2{
        text-shadow: #fff 0.05em 0.5em 0.5em; /*Cria uma sombra nas tags*/
    }

    /*ONE PAGE*/
    #video iframe {
        width: 560px;
        height: 315px;
    }
}
/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:768px){
    
    /*LAYOUT*/
    .Container{
    max-width:720px ;
    }
   
    /* Destaque*/
    main{
        height: 45vh;
    }

    main h1{
        font-size: 5.5em;
    }

    main h2 {
        font-size: 2em;
    }
}
 
/*Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:992px){
  
    /*LAYOUT*/
    .Container{
    max-width:960px ;
    }

    /*Destaque*/
    main{
        height: 70vh;
    }
}


/*PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:1200px){
    /*LAYOUT*/
    .Container{
    max-width:1140px ;
    }

       /*Cabeçalho*/
       header{
        height:120px;
       }
    
    
       #logo img{
    width: 189px;
    height:189px;
    margin-top:30px;   
    }

    label{
        display: none;   
    }

    nav ul{
        position: static;
        height:auto;
        background-color: transparent;
        margin-top:50px;
    }

    nav ul li{
        float: left; /*elementos flutuam a esquerda*/
        border: 0;
    }
    nav ul li a{
        color:#1a1818;
        font-size: 20px;
        text-shadow: black 0.05em 0.5em 0.5em; 
    }
    nav ul li a :hover{
        color:#c00000;
    }
    
    /*Sobre*/
    #sobre {
        background-attachment: fixed; /*Fixa o background*/
    }
    #destaqueSobre {
        display: inline;
    }

    #destaqueSobre img {
        border-radius: 50%;    /*Deixa a imagem redonda*/
        margin-right: 50px;
    }

    /*ONE PAGE*/
    .Flex3 {
        flex-direction: row;   /*Coloca u ao lado do outro em linha*/
        align-items: center;
    }
}


